*{
    margin: 0;
    padding: 0;
}
/* shared style */
.primary-text{
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* nav section start here */
.nav-container{
    display: flex;
    justify-content: space-around;
    height: 130px;
padding-top: 40px;
}
.nav-logo{
display: flex;
gap: 15px;
}
.nav-logo img {
    max-width: 80px;
    height: 25px;
}
.logo-G{
    color: red;
}
.logo-name h3{
   font-size: 22px;
    
}


.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}
.nav-follow-box{
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    padding-left: 30px;
    gap: 5px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
.nav-follow-box img{
    width: 33px;
    height: 24px;

}
/* nav section end here */

/* banner section start here */
.banner-container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.banner-content h2{
    padding-left: 5px;
}
.banner-content{
   background-image: url('./images/Group\ 14.png');
   width: 40%;
   padding: 120px 0px 0px 180px;
}
.banner-img img {
    margin-right: 25px;
}



.banner-main-title{
font-family: Work Sans;
font-size: 95px;
font-weight: 800;
color: #0090ce;
margin-bottom: 20px;
}
.banner-content-desc-container{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 10px;
}
.banner-content-btn{
    margin-top: 20px;
  
}
.sign-in{
    padding: 10px 32px;
    border-radius: 20px;
    border: none;
    background-color: #db0d36;
    color: white;
}
.Go{
    padding: 10px 29px;
    border-radius: 20px;
    margin-left: 10px;
    border: none;
    background-color: #08a1f4;
    color: white;
}
/* banner section end here */


/* main section start here */

.main-section-container{
    text-align: center;
    margin-top: 90px;
}
.main-section-desc{
    color: #534C64;
    margin-top: 10px;
}

.funny{
    color: #b408f3;
}
.image-container {
    position: relative;
    display: inline-block;
    margin: 50px 0px 0px 50px;
   
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.3s;
    background-color: rgba(45, 43, 43, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 15px;
    border: 2px solid rgb(191, 43, 43);
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    font-size: 18px;
    text-align: center;
    padding: 100px 0px 0px 10px;
  }
  .image-container img {
    border-radius: 15px;
    gap: 5px;
  }
  .main-img-container{
    display: flex;
    margin-left: 100px;
  }
/* main section end here */

  /* play section start here */

.play-section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    
}
.play-section-content h1{
    font-size: 40px;
    text-align: center;
}
.play-section-content{
    margin-bottom: 200px;
}
.Play{
    color: #b408f3;
    font-size: 40px;
}
.play-section-content p {
    margin-top: 10px;
}
.position-img img {
    position: relative;
    bottom: 280px;
    right: 140px;

}


.other-game-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
   margin: 10px 300px;
}
.box{
   display: flex;
   align-items: center;
   gap: 10px;
   border-radius: 20px;
justify-content: center;}
.box:hover{

border: 1px solid salmon;
}


footer{
    height: 550px;
    width: 100%;
    background-color: black;
}
.footer-logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
   padding-top: 100px;
}
.logo-name-2 h3{
    color: white;
font-size: 40px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-logo img{
    height: 40px;
    width: 90px;
}
.footer-menu {
    color: white;
list-style: none;
text-align: center;
margin-top: 30px;

}
.footer-menu li {
    display: inline-block;
   padding-left: 35px;
   
}
.footer-img{
 display: flex;
justify-content: center;
  margin-top: 45px;
  gap: 50px;
}


.footer-terms {
    color: #dcd2d2;
  text-align: center;
  margin-top: 50px;
}
.footer-terms p{
    display: inline-block;
   padding-left: 50px;
}



















/* 
For Mobile Devices Max width 776px */

@media screen and (max-width:776px) {
    .nav-container{
        flex-direction: column;
        align-items: center;
        
    }
    .nav-menu{
        flex-direction: column;
        margin-bottom: 10px;
        gap: 12px;
        margin-top: 40px;
      
    }
    
    /* nav section end here */


    /* banner section start here */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
      padding-left: 25px;
        background-size: cover;
        width: 90%;
        height: 400px;
        
    }
    .banner-img img {
        width: 90%;
        margin-top: 27px;
        padding-top: 20px;
    }
/* banner section end here */

/* main section start here */
.main-img-container{
    flex-direction: column;
    margin-left: 10px;
}
.image-container{
margin-left: 10px;
}
/* play section start here */
.play-section-container{
    flex-direction: column;
}
.play-img-section{
    margin-left: 25px;
    width: 100%;
}
.play-img-section img {
    width: 90%;
}

}
